<header>
    <h1>{{title}}</h1>
  </header>
  
  <section class="todo-list">
    <form action="todo-form" (ngSubmit)="create($event); todoForm.reset()" #todoForm="ngForm">
      <input type="text" name="title" [(ngModel)]="newTodoTitle" placeholder = "Что сделать?" required>
      <button type="submit" [disabled] = "todoForm.form.invalid">Добавить</button>
    </form>
    <div class="todo-item" *ngFor="let todo of todos" [class.completed]="todo.completed">
      <div class="actions">
        <button class="checkbox icon" (click)="toggle(todo)">
            <i class="material-icons">{{todo.completed ? 'check_box' : 'check_box_outline_blank'}}</i>
          </button>
          <span class="title">{{todo.title}}</span>
          <button class="material-icons delete" (click) = "delete(todo)">
            <i class="material-icons">delete</i>
          </button>
      </div>
    </div>
  </section>